@keyframes grow {
    from {
        font-size: large;
    }
    to {
        font-size: xx-large;
    }
}

@keyframes fade {
    from {
        opacity: 1;
        pointer-events: all;
    }
    to {
        opacity: 0;
        pointer-events: none;
    }
}

nav {
    background-color: rgb(27, 177, 236);
    height: 10vh;
    display: flex;
    color: white;
    align-items: center;
    width: 100%;
    z-index:1
}

nav a {
    padding: 5px;
    flex: 1;
    text-decoration: none;
    color: white;
    display: block;
    font-size: x-large;
}

nav a:hover {
    animation: 2s grow ease;
    font-size: xx-large;
}

nav a:single-button {
    animation: 2s grow ease;
    font-size: xx-large;

}

.alert {
    background-color: rgb(253, 79, 108);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}

.alert .text {
    flex-grow: 1;
}

.alert-fade {
    animation: 2s fade ease;
    opacity: 0;
    pointer-events: none; 
    background-color: rgb(253, 79, 108);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}